* {
    margin: 0;
    padding: 0;
    line-height: 1.75;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #000000;
}

h1 {
    font-size: 3.5rem;
}

p {
    font-size: 1.55rem;
}

nav {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0);
    z-index: 100;
}

nav ul {
    display: flex;
    padding-left: 50%;
    padding-right: 2%;
    justify-content: flex-end;
    /* remove bullets */
    list-style-type: none;
    
}

nav ul li{
    flex-grow: 1;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.75rem;
    font-weight: bold;
}

nav ul li:first-child{
    flex-grow: 1;
}

nav ul a:link {
    /* remove underline */
    text-decoration: none;
    color: #F3F3F3;
    display: block;
    padding: 10px 0;
}

nav ul a:visited {
    color: #717171;
}

nav ul a:hover {
    background: #DADADA;
    color: #000000;
    text-decoration: underline;
    border-radius: 50px;
}


#tribute {
    padding: 50px 50px 170px 50px;
    width: 100%;
    height: 80vh;
    background-image: url(../img/cctrib1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
}

header h1 {
    color: #EDEDED;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    margin-top: 100px;
    text-shadow: 4px 4px #171717;
    background: #000000;
    width: 900px;
    padding: 0px 5px;
    border-radius: 40px;
    padding-left: 20px;
    border: solid 5px #EDEDED;
}

/*header h2 {
    color: #EDEDED;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    width: 60%;
    text-shadow: 4px 4px #171717;
}*/

header p {
    color: #EDEDED;
    font-family: 'Righteous', cursive;
    margin-top: 35px;
    width: 900px;
    text-shadow: 4px 4px #171717;
    padding-top: 10px;
    background: #000000;
    padding: 10px 5px;
    border-radius: 40px;
    padding-left: 20px;
    border: solid 5px #EDEDED;

}


#setlist {
    font-family: 'Old Standard TT', serif;
    font-size: 1.75rem;
    margin-left: 50px;
    margin-bottom: 50px;
    background-color: #000000;
    color: #fff;
}

#setlist h1 {
    margin-left: 50px;
}

#setlist ul {
    margin-left: 70px;
    list-style-type: circle;
    font-size: 1.25rem;
    margin-bottom: 15px;
}

#setlist h2 {
    margin-left: 50px;
    font-size: 1.5rem;
    text-decoration: underline;
}

/* Media Queries */

@media screen and (max-width: 768px){
    nav {
        text-align: center;
        position: fixed;
        top: 0;
        width: 100%;
        background: rgba(0, 0, 0);
        z-index: 100;
    }

    nav ul {
        display: flex;
        padding-left: 0;
        /*justify-content: flex-end;*/
        /* remove bullets */
        list-style-type: none;
        flex-direction: column;
        justify-content: center;
    }

    nav ul li{
        flex-grow: 1;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.75rem;
        font-weight: bold;
    }

    nav ul li:first-child{
        flex-grow: 1;
    }

    nav ul a:link {
        /* remove underline */
        text-decoration: none;
        color: #F3F3F3;
        display: block;
        padding: 10px 0;
    }
    
    nav ul a:visited {
        color: #717171;
    }
    
    nav ul a:hover {
        background: #DADADA;
        color: #000000;
        text-decoration: underline;
        border-radius: 50px;
    }
}

@media screen and (max-width: 768px){
    html {
        font-size: 14px;
    }
    
    header {
        text-align: center;
    }
    
    #tribute {
        position: relative;
        top: 100px;
        height: 100vh;
    }
    
    #tribute h1 {
        width: 80vw;
    }
    
    #tribute p {
        width: 80vw;
    }
    
    #setlist {
        position: relative;
        top: 100px;
    }
    
    #bands {
        flex-direction: column;
    }
    
    #bands article {
        width: 100vw;
        height: auto;
        overflow: visible;
    }
    
    #bands article:first-child {
        background: #316124;
    
    }

    #bands article:last-child {
        background: #582461;
    }
     
    #images {
        flex-direction: column;
        text-align: center;
    }
    
}

